<div>
    <h2>#content dimension</h2>
    <ul>
        <li id="scroll-width">element.scrollWidth/scrollHeight = <span data-dojo-attach-point="scrollWH"></span></li>
        <li id="position-width">geometry.position().w/h = <span data-dojo-attach-point="positionWH"></span></li>
    </ul>
    
    <h2>#content position</h2>
    <ul>
        <li id="position-rel-to-viewport">geometry.position().x/y = <span data-dojo-attach-point="positionRelToViewportXH"></span> (position relative to viewport)</li>
        <li id="position-rel-to-document">geometry.position().x/y = <span data-dojo-attach-point="positionRelToDocumentXH"></span> (position relative to document)</li>
    </ul>
    
    <h2>window dimension</h2>
    <ul>
        <li id="win-width">win.getBox().w/h = <span data-dojo-attach-point="winWH"></span></li>
        <li id="window-inner-width">window.innerWidth/innerHeight = <span data-dojo-attach-point="windowInnerWH"></span> (includes scrollbars)</li>
    </ul>
    
    <h2>window scroll</h2>
    <ul>
        <li id="page-offset">window.pageXOffset/pageYOffset = <span data-dojo-attach-point="pageOffsetXY"></span></li>
        <li id="doc-scroll">geometry.docScroll().x/y = <span data-dojo-attach-point="docScrollXY"></span></li>
    </ul>
    
    <h2>screen</h2>
    <ul>
        <li id="screen-width">screen.width/height = <span data-dojo-attach-point="screenWH"></span> (irrelevant)</li>
    </ul>
</div>